* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body, html {
  background: #f1f2b5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f1f2b5, #135058);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f1f2b5, #135058);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  text-align: center;
}

h1 {
  margin: auto;
  color: #56ab2f;
  width: 200px;
  height: 50px;
  padding: 10px 10px 10px 10px;
  background: rgba(0, 0, 0, .5);
}

.main {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.container0 {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container1 {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container2 {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container3 {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container4 {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container5 {
  position: relative;
  width: 360px;
  height: 360px;
  border-radius: 12.632%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #56ab2f, #a8e063); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #56ab2f, #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: box-shadow .2s linear;
  text-align: center;
}

.container0:hover, .container1:hover, .container2:hover, .container3:hover, .container4:hover, .container5:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.inner-container {
  position: absolute;
  width: 75%;
  height: 75%;
  left: 12.5%;
  top: 12.5%;
  background: url("http://res.cloudinary.com/anewmodern/image/upload/v1505429106/Butterfly-Tattoo-Sketches_bybka2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
